<div>
  <%= link_to "← New survey", root_path, class: "text-smoke/70 hover:text-hot-pink text-sm" %>
  <div class="mt-5">
    <%= render partial: "survey", locals: { survey: {
      "id" => @survey.id,
      "title" => @survey.title,
      "description" => @survey.description,
      "theme" => @survey.theme,
      "audience_age" => @survey.audience_age,
      "key_insight" => @survey.key_insight,
      "cards" => @survey.cards
    } } %>
  </div>
</div>
